.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    z-index: 9;
}

.nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
}

.nav__logo img {
    width: 90px;
}

.nav__link-container {
    display: flex;
    align-items: center;
}

.nav__link-container p {
    font-size: 18px;
    margin-right: 1rem;
    font-weight: 700;
    position: relative;
}

.nav__link-container p:hover::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-text);
    position: absolute;
    bottom: -3px;
    left: 0;
}

.nav__link-container p:hover a {
    color: var(--color-text);
}

.nav__sign-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
}

.nav__sign-container p {
    cursor: pointer;
}
.nav__sign-container p:hover {
    color: var(--color-text);
}

.nav__sign-container button {
    font-size: 16px;
    background: #ff4820;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 1rem;
    color: white;
    user-select: none;
    font-weight: 700;
    cursor: pointer;
}

.nav__sign-container button:hover {
    background-color: #d73f1e;
}

.nav__menu-container {
    position: absolute;
    right: 2rem;
    top: 55px;
    background: #121820;
    padding: 1rem;
    border-radius: 5px;
    width: 170px;
}

.nav__menu-container .nav__sign-container {
    flex-direction: column;
    align-items: flex-start;
}

.nav__menu-container .nav__sign-container button {
    margin: unset;
    cursor: pointer;
}

.nav__menu-container .nav__sign-container p {
    color: var(--color-text);
    cursor: pointer;
}

.nav__menu-container p {
    margin-bottom: 7px;
    font-weight: 700;
}

.open-menu-icon {
    display: none;
}

@media screen and (max-width: 900px) {
    .nav__link-container {
        display: none;
    }
    .open-menu-icon {
        display: block;
    }
    .nav__menu-container .nav__sign-container {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 480px) {
    .nav__sign-container {
        display: none;
    }
    .nav__menu-container {
        right: 1rem;
    }
    .nav__menu-container .nav__sign-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav__logo img {
        width: 80px;
    }
}
