.footer {
    padding: 5rem 5rem 1rem 5rem;
    background-color: var(--color-footer);
}

.footer__button {
    display: block;
    margin: 3rem auto 5rem;
    width: 170px;
    height: 43px;
    border: 1px solid white;
    outline: none;
    background: transparent;
    color: white;
}
.footer__button:hover {
    background-color: white;
    color: black;
}

.footer__detail__container {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.footer__detail-logo img {
    margin-bottom: 0.5rem;
}
.footer__detail-logo p {
    font-size: 16px;
    font-weight: 800;
}

.footer__detail__container div {
    padding: 1rem;
    flex: 1;
}

.footer__detail__container div p {
    font-size: 14px;
    margin-bottom: 1rem;
}

.footer__detail__container div p:first-child {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.copy-right {
    text-align: center;
    color: white;
    font-size: 15px;
}

@media screen and (max-width: 900px) {
    .footer {
        padding: 5rem 1rem 1rem;
    }
}

@media screen and (max-width: 700px) {
    .footer__detail__container div {
        flex: unset;
    }
}
